.vscode

# Input/Output files
apks/*
static_out/*
contextual_out/*

# Pycharm
.idea/

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# output files
contextual_out/